.navLink {
  color: hsl(0, 9%, 98%);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color:hsla(39, 83%, 55%, 0.911);
  
}
.flex2{
    flex:2;
}

.flex1{
    flex:1;
}

.background{
    background: linear-gradient(135deg, hsl(355 65% 35%), hsl(280 60% 50%));
}

.hamburger-btn{
  color:white;
}